<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><a href="/">home</a>
        <a href="{% url 'main:topics' %}" >Topics</a>
        
        {% if user.is_authenticated %}
            hello, {{user.username}}
            <a href="{% url 'users:logout' %}" >Log out</a>
        {% else %}
        <a href="{% url 'users:login' %}" >Log in</a>
        <a href="{% url 'users:register' %}" >Sign up</a>
        {% endif %}
            
        
    </h1>
    
    
    {% block content %}
        
    {% endblock content %}
        
</body>
</html>